.App {
    height: 100vh;
    max-height: 100vh;
}

.App .upgrade-table {
    display: inline-block;
    box-sizing: border-box;
    width: 35%;
    max-height: 100vh;
    overflow-y: scroll;
    vertical-align: top;
    text-align: center;
}

.App .upgrade-table .upgrade-table-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App .upgrade-table .upgrade-table-box-info {
    width: 80%;
    padding: 2%;
    text-align: left;
    border-radius: 5px;
    margin: 2%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 0px;
}

.App .upgrade-panel {
    display: inline-block;
    box-sizing: border-box;
    flex-direction: column;
    width: 65%;
    height: 100vh;
    text-align: center;
}

.App .my-info {
    text-align: left;
    margin: 15px 0px 0px 15px;
    font-weight: bold;
}

.App .my-info .git-info {
    text-decoration: none;
    color:#222;
}

.App .my-info .discord-info {
    color:rgb(123, 121, 241);
}

.App .my-info .lang-info {
    margin: 5px;
    cursor: pointer;
}

.App .my-info .lang-info:active {
    color: rgb(238, 180, 180);
}

.App .upgrade-panel .btn {
    outline: none;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 50px;
    font-weight: bold;
}

.App .upgrade-panel .clear-btn {
    background-color: rgb(210, 180, 238);
}

.App .upgrade-panel .clear-btn:active {
    background-color: rgb(160, 138, 180);
}

.App .upgrade-panel .upgrade-btn {
    background-color: rgb(180, 238, 205);
    margin: 0px 20px;
}

.App .upgrade-panel .upgrade-btn:active {
    background-color: rgb(108, 150, 126);
}

.App .upgrade-panel .sell-btn {
    background-color: rgb(238, 180, 180);
}

.App .upgrade-panel .sell-btn:active {
    background-color: rgb(141, 100, 100);
}

@media screen and (max-width: 980px) {
    .App .upgrade-table {
        display: block;
        width: 100%;
        overflow: auto;
        max-height: initial;
    }
    .App .upgrade-panel {
        display: block;
        width: 100%;
        height: auto;
    }
    .App {
        overflow: auto;
    }
}